footer {
  width: 100%;
  height: 60px;
  background-color: #fec8d8;
  margin-top: 40px;

  .footerHeader {
    color: white;
    font-weight: lighter;
    font-size: 20px;
    text-align: center;
    padding-top: 5px;
  }

  .footerTitle {
    color: white;
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    margin-top: -15px;
  }
}
